# Auth0 Configuration
AUTH0_ISSUER_URI=https://YOUR_DOMAIN.auth0.com/
AUTH0_AUDIENCE=https://YOUR_API_AUDIENCE

VITE_AUTH0_DOMAIN=YOUR_DOMAIN.auth0.com
VITE_AUTH0_CLIENT_ID=YOUR_CLIENT_ID
VITE_AUTH0_AUDIENCE=https://YOUR_API_AUDIENCE
